
.discussion-list-header {
    background: #0095eb;
    padding: 15px 18px;
    color: white;
}

.discussion-list-header h1 {
    margin-bottom: 0px;
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;

}

.discussion-list {
    margin-top: 25px;
}

.discussion-row {
    border: #03a9f4 solid;
    border-width: 1px 1px 0px 1px;
    padding: 7px 5px;
}

.discussion-row:last-child {
    border-width: 1px 1px 1px 1px;
}

.discussion-column {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.discussion-column.discussion-icon {
    text-align: center;
    max-width: 46px;
    padding: 10px;

}

.discussion-icon i.fa {
    border: solid #505050 1px;
    padding: 7px;
    max-width: 38px;
    vertical-align: middle;
    font-size: 1.44em;
}

.discussion-column.discussion-title {
    text-align: left;
}

.discussion-column.discussion-title h2 {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dicussion-title-container {
    overflow: hidden;
}

.discussion-column.discussion-title p.creation-info {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0px;
}

.discussion-column.discussion-stats {
}

.discussion-stats > div {
    display: inline-block;
    margin-left: 25px;
    text-align: center;
    font-size: 0.95em;
}

.discussion-column.discussion-info {

}

.discussion-column.discussion-info > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

span.recent-post-time {
    font-size: 0.9em;
}

.action-row-container {
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 16px;
    text-align: right;
    color: #222;
    -webkit-transition: color .25s ease;
    transition: color .25s ease;
}

.action-row {
    align-items: center;
}

.new-discussion-button , .all-discussions-button, .search-discussion-button{
    color: #222;
    font-size: 1.1em;
    -webkit-transition: color .25s ease;
    transition: color .25s ease;
}

.discussion-list-page-select {
    display: inline-block;
    width: auto;
}

.discussion-link {
    color: inherit;
}

.discussion-link:hover {
    color: #5b5b5b;
}

@media only screen and (max-width: 700px) {
    .action-row {
        flex-direction: column;
        text-align: center;
    }

    .pagination-container {
        margin-left: 0px !important;
    }

    .new-discussion-button {
        margin-bottom: 9px;
    }

}

.all-questions-link {
    font-size: 0.89em;
}

.discussion-header-container {
    border: 1px solid #0095eb;
    padding: 18px 20px;
}